<div class="container-fluid mt-3">

  <div class="page-header">
    <div class="row align-items-center">
        <div class="col">
           <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/irecruitment/vacancy/list">Base</a></li>
                <li class="breadcrumb-item active">Menu</li>
                <li class="breadcrumb-item active">{{pageTitle}}</li>
            </ul>
        </div>
        <div class="col-auto float-right ml-auto">
          <a id="backBtn"   [routerLink]="['/base/menu/list']" class="btn btn-sm btn-outline-secondary"> 
            <i class="fas fa-times me-1"></i> Back
          </a>
        </div>
    </div>
     </div>

<span style="text-align:left;">
  <h3 class="card-title">Menu {{pageTitle}}</h3>
</span>
       <br/>

  
    <div class="row">
      <div class="col-lg-12">
          <div class="card customCard">
             <div class="card-body">
                  <form  [formGroup]="createForm">
                      <div class="row">
                         
                                  <div class="col-md-3 form-group">
                                    <label for="name-f" >Menu</label>
                                    <ng-select
                                    (click)="setId()"
                                    [items]="menuOptions"
                                    bindLabel="moduleName"
                                    bindValue="moduleName"
                                    formControlName="menu"
                                    (search)="onSearch($event,'menu')"
                                    (scrollToEnd)="loadMore('menu')"
                                     [loading]="loadingDropdown"
                                    [clearable]="true"
                                    [closeOnSelect]="true"
                                    [editableSearchTerm]="false"
                                    [addTag]="false" 
                                    class="form-control-patch">
                                  </ng-select>
                            
                                  </div>
                                                
                              <div class="col-md-3 form-group">
                                <label for="name-f" >Parent Menu</label>
                                <ng-select 
                                (click)="setParentId()"
                                [items]="menuParents"
                                bindLabel="moduleName"
                                bindValue="moduleName"
                                formControlName="parentMenu"
                                (search)="onSearch($event,'parent')"
                                (scrollToEnd)="loadMore('parent')"
                                 [loading]="loadingDropdown2"
                                [clearable]="true"
                                [closeOnSelect]="true"
                                [editableSearchTerm]="false"
                                [addTag]="false" 
                                class="form-control-patch">
                              </ng-select>
                                </div>

                                <div class="col-md-3 form-group">
                                  <label for="name-f">Backend Url</label>
                                  <input type="text" class="form-control"  formControlName="apiPattern">
                                  </div>

                                  <div class="col-md-3 form-group">
                                    <label for="name-f" class="val-required">Frontend URL</label>
                                    <input type="text" class="form-control"  formControlName="frontUrl">
                                    </div>

                                    <div class="col-md-3 form-group">
                                      <label for="name-f" class="val-required">Api Sequence</label>
                                      <input type="text" class="form-control"  formControlName="apiSeq">
                                      </div>

                                      <div class="col-md-3 form-group">
                                        <label for="name-f" class="val-required">Method Name</label>
                                        <ng-select [items]="methodNames" formControlName="methodName"
                                        [closeOnSelect]="true" class="form-control-patch">
                                       </ng-select>
                                        </div>

                                        <div class="d-flex gap-2 mt-2" *ngIf="opMode==='edit' || opMode==='create'">
                                          <button type="submit" class="btn btn-sm btn-primary" (click)="onSubmit()">
                                            <i class="fas fa-save me-1"></i> Save
                                          </button>
                                        </div>

                          </div></form></div>
                          </div>
                          </div>
                          </div>
                          


<div *ngIf="loading" class="loader-overlay">
  <div class="spinner"></div>
  <span>Saving user...</span>
</div>


<!---- child menu details -->
<br/>
<div class="row">
  <div class="col-lg-12">
      <div class="card customCard" *ngIf='childMenuDetails.length>0'>
        <div class="card card-header">
          <span style="text-align:center;">Child menu list</span>
        </div>
         <div class="card-body">
          <div class="table-container">
            <table class="data-table">
              <thead>
                <tr>
                  <th>SL</th>
                  <th>Menu</th>
                  <th>Parent Menu</th>
                  <th>Api Seq</th>
                  <th>Backend Url</th>
                  <th>Front Url</th>
                  <th>Method</th>
                  <th>Created</th>
                  <th>Updated</th>
                  <th>Edit</th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let x of childMenuDetails; index as i">
                  <td>{{ i + 1 }}</td>
                  <td>{{ x.menu}}</td>
                  <td>{{ x.parentMenu}}</td>
                  <td>{{ x.apiSeq}}</td>
                  <td>{{ x.apiPattern}}</td>
                  <td>{{ x.frontUrl}}</td>
                  <td>{{ x.methodName}}</td>
                  <td>{{ x.created | date: 'yyyy-MM-dd' }}</td>
                  <td>{{ x.updated | date: 'yyyy-MM-dd' }}</td>
                  <td><button (click)="navigateToEdit(x.id)"><i class="fas fa-edit"></i></button></td>
                  <td> <button (click)="navigateToView(x.id)"><i class="fas fa-eye"></i></button></td>    
                </tr>
      
              </tbody>
            </table>

          </div>
</div>
</div>
</div>
</div>

<!------------------------------- parent menu details -------------------------->
<div class="row">
  <div class="col-lg-12">
      <div class="card customCard" *ngIf='parentMenuDetails!=null'>
        <div class="card card-header">
          <span style="text-align:center;">Parent menu</span>
        </div>
         <div class="card-body">
          <div class="table-container">
            <table class="data-table">
              <thead>
                <tr>
                  <th>Menu</th>
                  <th>Parent Menu</th>
                  <th>Api Seq</th>
                  <th>Backend Url</th>
                  <th>Front Url</th>
                  <th>Method</th>
                  <th>Created</th>
                  <th>Updated</th>
                  <th>Edit</th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ parentMenuDetails.menu}}</td>
                  <td>{{ parentMenuDetails.parentMenu}}</td>
                  <td>{{ parentMenuDetails.apiSeq}}</td>
                  <td>{{ parentMenuDetails.apiPattern}}</td>
                  <td>{{ parentMenuDetails.frontUrl}}</td>
                  <td>{{ parentMenuDetails.methodName}}</td>
                  <td>{{ parentMenuDetails.created | date: 'yyyy-MM-dd' }}</td>
                  <td>{{ parentMenuDetails.updated | date: 'yyyy-MM-dd' }}</td>
                  <td><button (click)="navigateToEdit(parentMenuDetails.id)"><i class="fas fa-edit"></i></button></td>
                  <td> <button (click)="navigateToView(parentMenuDetails.id)"><i class="fas fa-eye"></i></button></td>     
                </tr>
      
              </tbody>
            </table>

          </div>
</div>
</div>
</div>
</div>


  </div>