<!-- Main Content Area -->
<div class="content-container">

    <div class="page-header">
      <div class="row align-items-center">
          <div class="col">
             <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/inventory/list">Inventory</a></li>
                  <li class="breadcrumb-item active">List</li>
              </ul>
          </div>
      </div>
       </div>
  
      <button  class="btn btn-primary btn-sm" routerLink="/inventory/create">
         <i class="fas fa-plus-circle"></i>Create</button> <br/>
      <!-- Table Container -->
  
      <!---- search div start -->
  <div class="card mb-2 mt-2" style="background-color:transparent;margin-left:23%;margin-right:24%;">
    <div class="card-body p-3">
       <form novalidate [formGroup]="searchForm">
            <div class="row filter-row" >
  
                 <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus">
                      <label class="focus-label">Organization</label>
                      <ng-select  [items]="menuOptions"
                      bindLabel="name"
                      bindValue="id"
                      formControlName="orgId"
                      (change)="getList()"
                      class="form-control-patch">
                    </ng-select>
                      
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                  <label for="name-f" >Branch</label>
                  <ng-select
                  (keyup)="setBranchId($event.target)"
                  (click)="setBranchId($event.target)"
                  [items]="branchOptions"
                  bindLabel="name"
                  bindValue="id"
                  formControlName="branchId"
                  (search)="onSearchBranch()"
                  (click)="onSearchBranch()"
                  (scrollToEnd)="loadMoreBranch()"
                   [loading]="loadDropdownBranch"
                  [clearable]="true"
                  [closeOnSelect]="true"
                  [editableSearchTerm]="false"
                  [addTag]="false" 
                  (change)="getList()"
                  class="form-control-patch">
                </ng-select>
                  </div>
  
                <div class="col-sm-6 col-md-2">
                  <div class="form-group form-focus">
                      <button class="btn btn-md btn-succes mt-4" (click)="getList()"><i class="fas fa-search"></i></button>              
                  </div>
              </div> 
            </div>
        </form>
  
    </div>
  </div>
  <!---- search div ended-->
  
  <div class="pagination-container mt-3">
    <ul class="pagination">
      <!-- Previous Button -->
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" href="javascript:void(0)" (click)="loadPage(currentPage - 1)">
          Previous
        </a>
      </li>
  
      <!-- Page Numbers -->
      <li class="page-item" *ngFor="let page of getPageRange()" [class.active]="page === currentPage">
        <a class="page-link" href="javascript:void(0)" (click)="loadPage(page)">
          {{ page }}
        </a>
      </li>
  
      <!-- Next Button -->
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" href="javascript:void(0)" (click)="loadPage(currentPage + 1)">
          Next
        </a>
      </li>
    </ul>
  
    <!-- Info Text -->
    <div class="pagination-info mt-2 text-center">
      Page {{ currentPage }} of {{ totalPages }} ({{ totalItems }} total items)
    </div>
  </div>
  
      <div class="table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th>SL</th>
              <th>Inventory</th>
              <th>Phone</th>
              <th>Branch</th>
              <th>Branch Address</th>
              <th>Organization</th>
              <th>Others</th>
              <th>Operation</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of listData; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ x.name}}</td>
              <td>{{x.phone}}</td>
              <td>{{ x.branch.name}}</td>
              <td>{{ x.branch.address}}</td>
              <td>{{ x.org.name}}</td>
              <td>{{ x.others}}</td>    
              <td class="compact-cell">
                <span> 
                  <a  routerLink="/inventory/edit/{{x.id}}"><i class="fas fa-edit"></i></a> &nbsp;
                  <a  routerLink="/inventory/view/{{x.id}}"><i class="fas fa-eye"></i></a>&nbsp;
                  <button  (click)="deleteMenu(x.id)">Del</button>
                </span>
              </td>
            </tr>
    
            <tr *ngIf="listData.length === 0">
              <td colspan="5">No users found.</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="pagination-container mt-3">
        <ul class="pagination">
          <!-- Previous Button -->
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" href="javascript:void(0)" (click)="loadPage(currentPage - 1)">
              Previous
            </a>
          </li>
      
          <!-- Page Numbers -->
          <li class="page-item" *ngFor="let page of getPageRange()" [class.active]="page === currentPage">
            <a class="page-link" href="javascript:void(0)" (click)="loadPage(page)">
              {{ page }}
            </a>
          </li>
      
          <!-- Next Button -->
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" href="javascript:void(0)" (click)="loadPage(currentPage + 1)">
              Next
            </a>
          </li>
        </ul>
      
        <!-- Info Text -->
        <div class="pagination-info mt-2 text-center">
          Page {{ currentPage }} of {{ totalPages }} ({{ totalItems }} total items)
        </div>
      </div>
    </div>
