<div class="container-fluid mt-3">

    <div class="page-header">
      <div class="row align-items-center">
          <div class="col">
             <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/irecruitment/vacancy/list">Setting</a></li>
                  <li class="breadcrumb-item active">Product Criteria</li>
                  <li class="breadcrumb-item active">{{pageTitle}}</li>
              </ul>
          </div>
          <div class="col-auto float-right ml-auto">
            <a id="backBtn"   [routerLink]="['/common/productCrit/list']" class="btn btn-sm btn-outline-secondary"> 
              <i class="fas fa-times me-1"></i> Back
            </a>
          </div>
      </div>
       </div>
  
  <span style="text-align:left;">
    <h3 class="card-title">Product Criteria {{pageTitle}}</h3>
  </span>
         <br/>
  
    
      <div class="row">
        <div class="col-lg-12">
            <div class="card customCard">
               <div class="card-body">
                    <form  [formGroup]="createForm">
                        <div class="row">

                               <div class="col-md-3 form-group">
                                <label for="name-f" class="val-required">Create</label>
                                    <ng-select [items]="entities" formControlName="entity"
                                    [closeOnSelect]="true" class="form-control-patch">
                                   </ng-select>
                                    
                                </div>
                                                                            
                        
                            
                                    <div class="col-md-3 form-group">
                                        <label for="name-f" >Organization</label>
                                        <ng-select
                                        (keyup)="setSearch($event.target)"
                                        [items]="menuOptions"
                                        bindLabel="orgName"
                                        bindValue="id"
                                        formControlName="orgId"
                                        (search)="onSearch($event)"
                                        (scrollToEnd)="loadMore()"
                                         [loading]="loadingDropdown"
                                        [clearable]="true"
                                        [closeOnSelect]="true"
                                        [editableSearchTerm]="false"
                                        [addTag]="false" 
                                        class="form-control-patch">
                                      </ng-select>
                                
                                      </div>


                                      <div class="col-md-3 form-group"
                                       *ngIf="createForm.value.entity==='ProductModel'">
                                        <label for="name-f" >Brand</label>
                                        <ng-select
                                        (keyup)="setSearch($event.target)"
                                        [items]="menuOptions"
                                        bindLabel="brandId"
                                        bindValue="id"
                                        formControlName="orgId"
                                        (search)="onSearch($event)"
                                        (scrollToEnd)="loadMore()"
                                         [loading]="loadingDropdown"
                                        [clearable]="true"
                                        [closeOnSelect]="true"
                                        [editableSearchTerm]="false"
                                        [addTag]="false" 
                                        class="form-control-patch">
                                      </ng-select>
                                
                                      </div>
                                    
  
                                    <div class="col-md-3 form-group">
                                      <label for="name-f" class="val-required">Name</label>
                                      <input type="text" class="form-control"  formControlName="name">
                                      </div>
  
                                          <div class="d-flex gap-2 mt-2" *ngIf="opMode==='edit' || opMode==='create'">
                                            <button type="submit" class="btn btn-sm btn-primary" (click)="onSubmit()">
                                              <i class="fas fa-save me-1"></i> Save
                                            </button>
                                          </div>
  
                            </div></form></div>
                            </div>
                            </div>
                            </div>
                            
  
  
  <div *ngIf="loading" class="loader-overlay">
    <div class="spinner"></div>
    <span>Saving user...</span>
  </div>
  
  <!---- child menu details -->
  <br/>
    </div>