<div class="container-fluid mt-3">

    <div class="page-header">
      <div class="row align-items-center">
          <div class="col">
             <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/irecruitment/vacancy/list">Setting</a></li>
                  <li class="breadcrumb-item active">Product Criteria</li>
                  <li class="breadcrumb-item active">{{pageTitle}}</li>
              </ul>
          </div>
          <div class="col-auto float-right ml-auto">
            <a *ngIf="popupMode==false" id="backBtn"   [routerLink]="['/setting/productCrit/list']" class="btn btn-sm btn-outline-secondary"> 
              <i class="fas fa-times me-1"></i> Back
            </a>
          </div>
      </div>
       </div>
  
  <span style="text-align:left;">
    <h3 class="card-title">Product Criteria {{pageTitle}}</h3>
  </span>
         <br/>
  
    
      <div class="row">
        <div class="col-lg-12">
            <div class="card customCard">
               <div class="card-body">
                    <form  [formGroup]="createForm">
                        <div class="row">

                               <div class="col-md-3 form-group">
                                <label for="name-f" class="val-required">Criteria</label>
                                    <ng-select [items]="entities"
                                     formControlName="entity"
                                     bindLabel="title"
                                     bindValue="id"
                                    [closeOnSelect]="true" 
                                    class="form-control-patch">
                                   </ng-select>
                                    
                                </div>
                                                                            
                        
                            
                                    <div class="col-md-3 form-group">
                                        <label for="name-f" >Organization</label>
                                        <ng-select
                                        (keyup)="setSearch($event.target)"
                                        [items]="menuOptions"
                                        bindLabel="orgName"
                                        bindValue="id"
                                        formControlName="orgId"
                                        (search)="onSearch($event)"
                                        (scrollToEnd)="loadMore()"
                                         [loading]="loadingDropdown"
                                        [clearable]="true"
                                        [closeOnSelect]="true"
                                        [editableSearchTerm]="false"
                                        [addTag]="false" 
                                        class="form-control-patch">
                                      </ng-select>
                                
                                      </div>


                                      <div class="col-md-3 form-group"
                                       *ngIf="createForm.value.entity==='ProductModel'">
                                        <label for="name-f" >Brand</label>
                                        <ng-select
                                        (keyup)="setSearch($event.target)"
                                        [items]="brandOptions"
                                        bindLabel="name"
                                        bindValue="id"
                                        formControlName="brandId"
                                        (search)="onBrandSearch($event)"
                                        (scrollToEnd)="brandLoadMore()"
                                         [loading]="barndLoadingDropDown"
                                        [clearable]="true"
                                        [closeOnSelect]="true"
                                        [editableSearchTerm]="false"
                                        [addTag]="false" 
                                        class="form-control-patch">
                                      </ng-select>
                                
                                      </div>
                                    
  
                                    <div class="col-md-3 form-group">
                                      <label for="name-f" class="val-required">Criteria Value</label>
                                      <input type="text" class="form-control"  formControlName="name">
                                      </div>

                                      <div class="col-md-3 form-group">
                                        <label for="name-f" class="val-required">Criteria Description</label>
                                        <input type="text" class="form-control"  formControlName="description">
                                    
                                        </div>
  
                                          <div class="d-flex gap-2 mt-2" *ngIf="opMode==='edit' || opMode==='create'">
                                            <button type="submit" class="btn btn-sm btn-primary" (click)="onSubmit()">
                                              <i class="fas fa-save me-1"></i> Save
                                            </button>
                                          </div>
  
                            </div></form></div>
                            </div>
                            </div>
                            </div>
                            
  
  
  <div *ngIf="loading" class="loader-overlay">
    <div class="spinner"></div>
    <span>Saving user...</span>
  </div>
  
  <!---- child menu details -->
  <br/>

    <!-- simple-modal.component.html -->
 
  <!-- Button to trigger modal -->
  <button #mButton  type="button" style="display:none;"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mModal" >
    Open Modal
  </button>
  <!-- Modal -->
  <div class="modal fade" id="mModal" tabindex="-1" aria-labelledby="mModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mModalLabel">Simple Modal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Similar Product Createria you may be creating which is already exist </p>
          <p>Please recheck or be confirm before create/update</p>
          <table class="data-table" style="font-size: smaller;">
            <thead>
              <tr>
                <th>SL</th>
                <th>Criteria</th>
                <th>Criteria Value</th>
                <th>Description</th>
                <th>Create Date</th>
              </tr>
            </thead>
              <tbody>
                <tr *ngFor="let x of similarCrit; index as i">
                  <td>{{ i + 1 }}</td>
                  <td>{{ x.name}}</td>
                  <td>{{createForm.value.entity}}</td>
                  <td>{{ x.description}}</td>
                  <td>{{ x.created | date }}</td>
                </tr>
              </tbody>

          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="confirmSimilarity()">I Confirm</button>
        </div>
      </div>
    </div>
  </div>

    </div>