<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
           <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/base/user/list">Inventory</a></li>
                <li class="breadcrumb-item active">{{pageTitle}}</li>
                <li *ngIf="pageTitle==='View'" class="breadcrumb-item active"><a routerLink="/inventory/edit/{{id}}">Edit</a></li>
                <li *ngIf="pageTitle==='Edit'" class="breadcrumb-item active">Create</li>
            </ul>
        </div>
        <div class="col col-md-3" >
            <a id="backBtn"   [routerLink]="['/inventory/list']" class="btn btn-sm btn-outline-secondary"> 
                <i class="fas fa-times me-1"></i> Back
              </a>
       </div>
    </div>

     </div>
  
  
  <div class="container-fluid mt-3">
      <div class="row">
  <div class="col col-10">
      <h4 class="mb-3">{{entity}} {{pageTitle}}</h4>
  </div>
  <div  style="text-align:right;"class="col col-2" >
      <a id="backBtn" *ngIf="entity==='Organization'"  [routerLink]="['/base/organization/list']" class="btn btn-sm btn-outline-secondary"> 
          <i class="fas fa-times me-1"></i> Back
        </a>
        <a id="backBtn"  *ngIf="entity==='Branch'"  [routerLink]="['/base/branch/list']" class="btn btn-sm btn-outline-secondary"> 
          <i class="fas fa-times me-1"></i> Back
        </a>
  
  </div>
      </div>
  
    
  
  <div class="row">
  
  <div class="col col-8" style="text-align:right;">
      <form  [formGroup]="createForm" class="bg-light p-3 rounded shadow-sm" style="max-width: 600px; margin: 0 auto;">
    
        <div class="mb-2">
          <label for="name-f" >Organization*</label>
          <ng-select
          (keyup)="setSearch($event.target)"
          (click)="setSearch($event.target)"
          [items]="menuOptions"
          bindLabel="orgName"
          bindValue="id"
          formControlName="orgId"
          (search)="onSearch()"
          (click)="onSearch()"
          (scrollToEnd)="loadMore()"
           [loading]="loadDropdown"
          [clearable]="true"
          [closeOnSelect]="true"
          [editableSearchTerm]="false"
          [addTag]="false" 
          class="form-control-patch">
        </ng-select>
          </div>

          <div class="mb-2">
            <label for="name-f" >Branch*</label>
            <ng-select
            (keyup)="setBranchId($event.target)"
            (click)="setBranchId($event.target)"
            [items]="branchOptions"
            bindLabel="name"
            bindValue="id"
            formControlName="branchId"
            (search)="onSearchBranch()"
            (click)="onSearchBranch()"
            (scrollToEnd)="loadMoreBranch()"
             [loading]="loadDropdownBranch"
            [clearable]="true"
            [closeOnSelect]="true"
            [editableSearchTerm]="false"
            [addTag]="false" 
            class="form-control-patch">
          </ng-select>
            </div>

         <!-- Email -->
          <div class="mb-2">
            <label for="email" class="form-label small">Name*</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="name"
              formControlName="name"
              placeholder="Enter name"
            />
          </div>
      
          <!-- Phone -->
          <div class="mb-2">
            <label for="phone" class="form-label small">Phone</label>
            <input
              type="tel"
              class="form-control form-control-sm"
              id="phone"
              formControlName="phone"
              placeholder="Enter phone"
            />
          </div>
      
          <!-- Address -->
          <div class="mb-2"  >
            <label for="displayName" class="form-label small">Others</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="remarks"
              formControlName="others"
              placeholder="Enter Remarks "
            />
          </div>
     
          
          <!-- Action Buttons -->
          <div class="d-flex gap-2" *ngIf="pageTitle!=='View'">
            <button type="submit" class="btn btn-sm btn-primary" (click)="onSubmit()">
              <i class="fas fa-save me-1"></i> Save
            </button>
          </div>
         </form>
  
  </div>
  <div class="col col-4">
  </div>
  </div>
  
  <div *ngIf="loading" class="loader-overlay">
    <div class="spinner"></div>
    <span>Saving user...</span>
  </div>
    </div>