<!-- Main Content Area -->
<div class="content-container">
  <div class="page-header">
    <div class="row align-items-center">
        <div class="col">
           <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/base/user/list">Base</a></li>
                <li class="breadcrumb-item active">User</li>
                <li class="breadcrumb-item active">List</li>
            </ul>
        </div>
    </div>
     </div>
    <button  class="btn btn-primary btn-sm" routerLink="/base/user/create">
       <i class="fas fa-plus-circle"></i>Create</button> <br/>
    <!-- Table Container -->

    <!---- search div start -->
<div class="card mb-2 mt-2" style="background-color:transparent;margin-left:15%;margin-right:20%;">
  <div class="card-body p-3">
     <form novalidate [formGroup]="searchForm">
          <div class="row filter-row" >


            <div class="col-sm-6 col-md-3">
              <div class="form-group form-focus">
                <input type="text" class="form-control form-control-sm" id="email"
                formControlName="username"
                placeholder="User Name"
              />
                
              </div>
          </div>
             
          <div class="col-sm-6 col-md-4">
            <div class="form-group form-focus">
              <input type="text" class="form-control form-control-sm" id="email"
              formControlName="commonField"
              placeholder="Owner Name/Organization/Phone/Email/Address"
            /> </div>
        </div>

              <div class="col-sm-6 col-md-2">
                <div class="form-group form-focus">
                    <button class="btn btn-md btn-succes mt-4" (click)="getList()"><i class="fas fa-search"></i></button>              
                </div>
            </div> 
          </div>
      </form>

  </div>
</div>

    <div class="table-container">
      <table class="data-table">
        <thead>
          <tr>
            <th>SL</th>
            <th>User Name</th>
            <th>Owner Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Organization</th>
            <th>Address</th>
            <th>Roles</th>
            <th>Enabled</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Edit</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of listData; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.displayName }}</td>
            <td>{{ user.phone}}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.orgName}}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.roles}}</td>
            <td>{{ user?.enabled}}</td>
            <td>{{ user.created | date: 'yyyy-MM-dd' }}</td>
            <td>{{ user.updated | date: 'yyyy-MM-dd' }}</td>
            <td><a  routerLink="/base/user/edit/{{user.id}}"><i class="fas fa-edit"></i></a></td>
            <td> <a  routerLink="/base/user/view/{{user.id}}"><i class="fas fa-eye"></i></a></td>

          </tr>
  
          <tr *ngIf="listData.length === 0">
            <td colspan="5">No users found.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>